<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="myAspect" class="com.coderstuff01.aopdemo.aspect.XmlBasedAspectDemo" />

    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:before method="logAfterThrowingException" pointcut="execution(public int *.*.aopdemo.service.MyServiceImpl.*(..))" />
        </aop:aspect>
    </aop:config>

</beans>